@font-face {
    font-family: 'poppins';
    src: url('fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0px;
    left: 10px;
    position: absolute;
    justify-content: space-between;
}
#switch {
    margin-left: 1vw;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height: 20px;
    background-color: gray;
    border-radius: 20px;
    transition: 0.5s;
}
#tog
{
    display: none;
}
#sercle
{
    position: absolute;
    cursor: pointer;
    top: 3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    transition: 0.5s;
}
body
{
    margin: 0;
    font-family: poppins;
    font-weight: 600;
    padding: 0;
    background-color: #EEEEEE;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#hd
{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    position: sticky;
    height: 10vh;
    top: 0;
    background-color: #e1e1e1;
    border-bottom: 1px solid grey;
    transition: 0.5s;
}
#modeBtn
{
    height: 40px;
    width: 70px;
    margin-left: 50px;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 20px;
    background-image: url('moon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.5s;
}
#bt1
{
    margin-left: 50px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #068FFF;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    transition: 0.5s;
}
#bt2
{
    margin-left: 50px;
    margin-top: 15px;
    cursor: pointer;
    background-color: #068FFF;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    transition: 0.5s;
}
#bt1:hover
{
    background-color: #4E4FEB;
}
#bt2:hover
{
    background-color: #4E4FEB;
}
